web-accordion {
  height:100vh;
  width:500px;
}

/* Этот стиль обязательный. Остальные - обычные */
:host {
  display: block;
}
      
body {
  background: #212121;
}
      
web-accordion {
  display: block;
  height:100vh;
  width:500px
  width: fit-content;
  margin: 4rem auto;
  font-family: "Raleway";
  margin: 50px auto;
}
      
item-header {
  display: block;
  width: 600px;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  background: #5B5F97;
  color: white;
  cursor: pointer;
  -webkit-transition: .3s ease;
    transition: .3s ease;
  }
      
item-header:hover {
  background: #484b77;
}
      
item-content {
  display: none;
  padding: 1rem 1.5rem 2rem 1.5rem;
  font-size: 14px;
  width: 600px;
  line-height: 1.6;
  font-weight: 500;
  background-color: #FFFCFC;
  color: #461B7E;
}
      
.open {
  display: block;
}


